body {
  display: flex;
}

aside {
  width: 270px;
  height: 100vh;
  background-color: #171717;
  color: white;
  font-size: 12px;
}

.sidebar{
  width: 75%;
  margin: 10px auto;
}

.logo {
  margin: 50px auto;
  width: 150px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}

h2 {
  font-family: sans-serif;
  font-size: 12px;
  padding: 5px;
  color: grey;
  font-weight: bold;
}

p, li {
  font-family: sans-serif;
  font-size: 11px;
  padding: 5px;
  color: grey;
}

.selected {
  color: #46ADFC;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: #303030;
  color: white;
}
h1 {
  font-size: 18px;
  padding: 70px 60px 10px 60px;
}
.products_container {
  margin: 30px;
  width: 90%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: center;
}
.product {
  width: 200px;
  margin: 12px;
}

.cart_container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid #2B2B2C;
  border-top: 1px solid #2B2B2C;
}

.product_count {
  padding: 5px 15px;
  margin-right: 5px;
  border-right: 1px solid #2B2B2C
}

.cart_title {
  font-size: 12px;
  font-weight: bold;
  margin-right: 50px;
}

.product_cat {
  padding: 15px 0px;
  margin-bottom: 15px;
  border-bottom: 1px solid #2B2B2C;
}

.bc {
  position: absolute;
  color: #393939;
  font-size: 18px;
  bottom: 30px;
  left: 20px;
  font-weight: bolder;
}